@import "variables";

/* Reset Defaults */
body {
  margin: 0;
  font-size: 1em;
  background-color: black;
  color: white;
}

.app {
  padding: 5%;
}

.clock {
  &__time {
    font-family: $font-alt;
    font-size: 6em;
  }
  &__date {
    font-family: $font-alt;
    font-size: 2em;
    text-transform: uppercase;
    text-align: right;
    margin-top: -5px;
    color: red;
  }
}

.weather-widget {
  display: flex;
  align-items: center;
  height: 100%;
  &__temp {
    font-family: $font-alt;
    font-size: 6em;
  }
  &__icon {
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
  }
}

.events-list {
  width: 50%;
  box-sizing: border-box;
  background-color: $grey;
  padding: 40px;
}

.daily-calendar {
  &__title {
    font-family: $font-main;
    font-size: 3em;
    margin-bottom: 20px;
  }
  padding: 20px;
}

.upcoming-event {
  margin-bottom: 20px;
  margin-left: 40px;
  &__title {
    font-family: $font-alt;
    font-size: 2em;
    color: white;
  }
  &__time {
    font-family: $font-alt;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 20px;
  }
}
